@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

p,
h1,
h2,
h3,
h4,
small {
  line-height: 1.5; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4fefd; }

@keyframes float {
  0% {
    transform: translateY(10px); }
  50% {
    transform: translateY(30px); }
  0% {
    transform: translateY(10px); } }

@keyframes float2 {
  0% {
    transform: translateY(30px); }
  50% {
    transform: translateY(70px); }
  0% {
    transform: translateY(30px); } }

@keyframes fl {
  0% {
    transform: translateY(50px); }
  50% {
    transform: translateY(70px); }
  0% {
    transform: translateY(50px); } }

@keyframes fl2 {
  0% {
    transform: translateY(300px); }
  50% {
    transform: translateY(340px); }
  0% {
    transform: translateY(300px); } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px; }

.maj {
  text-transform: capitalize; }

.bld {
  font-weight: bold; }

.sm-fs {
  font-size: 0.9rem; }

.lead {
  font-size: 1.2rem;
  font-weight: 400;
  color: #555; }

.f-lead {
  margin-bottom: 20px;
  color: #008ed9;
  font-size: 1.3rem; }

.h-lead {
  color: #01d7c2;
  font-size: 1.7rem; }

.btn-connect, .btn-submit {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center; }

.btn-line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #01d7c2;
  border-radius: 15px;
  left: 0;
  bottom: 0;
  transform-origin: 100% 0;
  transform: scaleX(0);
  transition: transform 0.25s ease-in; }

.btn-line:hover::before {
  transform-origin: 0 0;
  transform: scale(1); }

.btn-connect {
  background-color: #045de9;
  background-image: linear-gradient(-315deg, #045de9 0%, #09c6f9 74%);
  background-size: 130%;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out; }
  .btn-connect:hover {
    background-position: right; }

.btn-submit {
  padding: 1.67rem;
  background-color: #0686ef;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(1px); }
  .btn-submit:hover {
    background-color: rgba(3, 86, 176, 0.1);
    backdrop-filter: blur(2px); }

.bg-light {
  background-color: #fff;
  color: #69e2dc;
  margin-top: 15px; }

.bt-line1, .bt-line2 {
  margin: 5px auto;
  background-color: #555;
  height: 5px;
  border-radius: 15px;
  opacity: 0.2; }

.bt-line1 {
  width: 70px; }

.bt-line2 {
  width: 130px; }

.bt-line-full {
  width: 100%;
  background: none;
  border-bottom: 2px dashed #ddd;
  margin: 60px 0; }

.mbt {
  margin-bottom: 2px; }

.flex-items {
  display: flex; }

.flex-reverse {
  flex-direction: row-reverse; }

#header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: url("../images/header/bg.png") center center/cover;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%); }
  #header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 0; }
  #header * {
    z-index: 2; }
  #header .navbar {
    margin-bottom: 2.5rem;
    color: #fff; }
    #header .navbar .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5.6rem; }
      #header .navbar .container nav ul {
        display: flex;
        text-align: center; }
        #header .navbar .container nav ul a {
          padding: 15px;
          color: #fff;
          position: relative; }
          #header .navbar .container nav ul a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #01d7c2;
            border-radius: 15px;
            left: 0;
            bottom: 0;
            transform-origin: 100% 0;
            transform: scaleX(0);
            transition: transform 0.25s ease-in; }
          #header .navbar .container nav ul a:hover::before {
            transform-origin: 0 0;
            transform: scale(1); }
      #header .navbar .container .connect ul {
        display: flex; }
        #header .navbar .container .connect ul span {
          padding: 0.5rem 0.5rem 0 0; }
        #header .navbar .container .connect ul li {
          padding: 0.5rem 0; }
        #header .navbar .container .connect ul a {
          padding: 14px; }
        #header .navbar .container .connect ul .connexion {
          position: relative; }
  #header .header-content {
    position: relative;
    z-index: 2;
    justify-self: center; }
    #header .header-content .container {
      overflow: initial; }
    #header .header-content .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      #header .header-content .content div:first-child p {
        font-size: 1.2rem;
        color: #fff;
        padding: 10px 0 30px 0; }
      #header .header-content .content div:first-child small {
        display: block;
        margin: 10px 0 20px 0;
        color: #f4f4f4; }
      #header .header-content .content div:first-child .btn-connect {
        width: 310px;
        padding: 1rem 0;
        box-shadow: none;
        cursor: initial; }
      #header .header-content .content div:first-child h1 {
        font-family: 'Maven Pro', sans-serif;
        font-size: 2.6rem;
        padding-bottom: 20px;
        color: #fff; }
      #header .header-content .content div:first-child .form-group input {
        padding: 1.2rem;
        outline: none;
        border: none;
        width: 65%;
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif;
        border: 2px solid transparent;
        transition: 0.3s ease-in-out; }
        #header .header-content .content div:first-child .form-group input:hover {
          box-shadow: 0 0 10px rgba(128, 177, 241, 0.5), 0 0 20px rgba(128, 177, 241, 0.5), 0 0 30px rgba(128, 177, 241, 0.5); }
    #header .header-content div:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      position: relative; }
      #header .header-content div:nth-child(2) .phone {
        width: 130%; }
      #header .header-content div:nth-child(2) .coin1 {
        position: absolute;
        transform: translateY(10px);
        right: 50px;
        width: 50px;
        animation: float 6s ease-in-out infinite; }
      #header .header-content div:nth-child(2) .coin2 {
        position: absolute;
        transform: translateY(30px);
        left: 50px;
        animation: float2 7s ease-in-out infinite; }

#works {
  margin-bottom: 50px;
  background: #eff; }
  #works .works-head {
    text-align: center;
    padding: 20px;
    margin-bottom: 30px; }
    #works .works-head * {
      line-height: 2; }
    #works .works-head h1 {
      color: #01d7c2; }
  #works .works-content .flex-items {
    display: flex; }
    #works .works-content .flex-items div {
      padding: 1.7rem;
      flex-basis: 33.33%;
      text-align: center;
      border-right: 1px dashed #ddd; }
      #works .works-content .flex-items div img {
        width: 70px; }
      #works .works-content .flex-items div .lead {
        font-size: 1rem;
        margin-bottom: 10px; }
      #works .works-content .flex-items div a {
        font-size: 0.95rem;
        color: #008ed9;
        text-decoration: none;
        transition: 0.2s ease-in-out; }
        #works .works-content .flex-items div a:hover {
          text-decoration: underline; }

#step .step-head {
  text-align: center;
  margin-bottom: 80px; }
  #step .step-head * {
    line-height: 2; }

#step .step-content .flex-items {
  margin-bottom: 100px; }
  #step .step-content .flex-items div {
    flex-basis: 50%; }
  #step .step-content .flex-items .img {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  #step .step-content .flex-items .text {
    text-align: justify; }

#step .step-content .flex-reverse .img {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

#info .section-a {
  text-align: center; }
  #info .section-a > .h-lead,
  #info .section-a > .h-lead + .lead {
    margin-bottom: 15px; }
  #info .section-a .lead {
    margin-bottom: 30px; }
  #info .section-a .icon-details {
    display: flex;
    text-align: center;
    margin: 60px 0; }
    #info .section-a .icon-details i {
      margin-bottom: 15px; }
    #info .section-a .icon-details .lead {
      margin-bottom: 10px; }
    #info .section-a .icon-details div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      width: 100%;
      height: 250px;
      transition: 0.3s ease-in-out; }
    #info .section-a .icon-details div .hide {
      display: none;
      padding-top: 5px;
      transition: 0.2s ease-in-out; }
    #info .section-a .icon-details div:hover .hide {
      display: flex;
      margin-top: 10px; }
    #info .section-a .icon-details div:nth-child(1) * {
      color: #6a6a6a; }
    #info .section-a .icon-details div:nth-child(2) * {
      color: #2f80ed; }
    #info .section-a .icon-details div:nth-child(3) * {
      color: #69e2dc; }
    #info .section-a .icon-details div:nth-child(4) * {
      color: #5a32c6; }
    #info .section-a .icon-details div:nth-child(5) * {
      color: #6a6a6a; }
    #info .section-a .icon-details div:nth-child(1) *,
    #info .section-a .icon-details div:nth-child(2) *,
    #info .section-a .icon-details div:nth-child(3) *,
    #info .section-a .icon-details div:nth-child(4) *,
    #info .section-a .icon-details div:nth-child(5) * {
      transition: 0.3s ease-in-out; }
    #info .section-a .icon-details div:nth-child(1):hover {
      background: #6a6a6a;
      color: #fff; }
    #info .section-a .icon-details div:nth-child(2):hover {
      background: #2f80ed;
      color: #fff; }
    #info .section-a .icon-details div:nth-child(3):hover {
      background: #69e2dc;
      color: #fff; }
    #info .section-a .icon-details div:nth-child(4):hover {
      background: #5a32c6;
      color: #fff; }
    #info .section-a .icon-details div:nth-child(5):hover {
      background: #6a6a6a;
      color: #fff; }
    #info .section-a .icon-details div:nth-child(1):hover * {
      color: #fff; }
    #info .section-a .icon-details div:nth-child(2):hover * {
      color: #fff; }
    #info .section-a .icon-details div:nth-child(3):hover * {
      color: #fff; }
    #info .section-a .icon-details div:nth-child(4):hover * {
      color: #fff; }
    #info .section-a .icon-details div:nth-child(5):hover * {
      color: #fff; }

#info .section-b {
  text-align: center; }
  #info .section-b .f-lead {
    margin: 20px 0; }

#submit {
  text-align: center;
  padding: 60px 0;
  margin-bottom: 30px;
  background-color: #008ed9;
  color: #fff;
  clip-path: polygon(0 3%, 100% 0%, 100% 93%, 0% 100%); }
  #submit .flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #submit .flex-items .lead {
      padding: 1.2rem;
      color: #fff;
      font-weight: 700; }

#about {
  display: flex;
  justify-content: center; }
  #about .f-lead {
    font-size: 2rem;
    padding: 0.5rem 0;
    border-bottom: 2px dashed #008ed9; }
  #about .quote {
    position: relative;
    padding: 3rem 2rem;
    background: rgba(105, 226, 220, 0.3);
    border-radius: 15px; }
    #about .quote::before {
      content: '';
      position: absolute;
      background: url("../images/submit/quote.svg") no-repeat center center/cover;
      width: 150px;
      height: 148px;
      top: 0;
      z-index: -1;
      opacity: 0.2; }
    #about .quote h2 {
      text-transform: uppercase;
      margin-bottom: 10px;
      color: #444; }
    #about .quote p {
      line-height: 2;
      font-size: 1.1rem; }

@media only screen and (max-width: 500px) {
  #header {
    height: 110vh; }
  #header .navbar .container {
    display: flex;
    flex-direction: column;
    overflow: initial; }
    #header .navbar .container nav {
      display: none; }
    #header .navbar .container nav ul {
      font-size: 0.85rem;
      margin-bottom: 10px; }
    #header .navbar .container nav ul a {
      padding: 5px; }
  #header .header-content .content {
    display: grid;
    grid-template-columns: 1fr; }
    #header .header-content .content div:first-child p {
      font-size: 1.1rem;
      margin: 20px 0 0 0; }
    #header .header-content .content div:first-child .btn-connect {
      width: 230px;
      font-size: 0.8rem;
      margin: 0 0 5px 0; }
    #header .header-content .content div:first-child h1 {
      font-size: 1.8rem; }
    #header .header-content .content div:first-child .form-group {
      display: flex; }
    #header .header-content .content div:first-child .form-group input {
      padding: 1rem;
      font-size: 1rem;
      width: 80%; }
    #header .header-content .content div:first-child .form-group .btn-submit {
      font-size: 0.7rem; }
    #header .header-content .content div:nth-child(2) {
      position: absolute;
      z-index: -1; }
      #header .header-content .content div:nth-child(2) .phone {
        visibility: hidden; }
      #header .header-content .content div:nth-child(2) .coin1 {
        transform: translateY(50px);
        animation: fl 6s ease-in-out infinite; }
      #header .header-content .content div:nth-child(2) .coin2 {
        transform: translateY(300px);
        animation: fl2 7s ease-in-out infinite; }
  #works .works-content .flex-items {
    display: flex;
    flex-direction: column; }
    #works .works-content .flex-items div {
      border-right: none;
      border-bottom: 1px dashed #ddd; }
  #info .section-a .icon-details {
    flex-direction: column; }
  #submit .flex-items {
    flex-direction: column; }
    #submit .flex-items .lead {
      padding: 10px; }
  #step .step-content .flex-items {
    flex-direction: column; }
  .h-lead {
    font-size: 1.4rem; } }
