@keyframes float {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(30px);
  }

  0% {
    transform: translateY(10px);
  }
}
@keyframes float2 {
  0% {
    transform: translateY(30px);
  }

  50% {
    transform: translateY(70px);
  }

  0% {
    transform: translateY(30px);
  }
}

// mobile

@keyframes fl {
  0% {
    transform: translateY(50px);
  }

  50% {
    transform: translateY(70px);
  }

  0% {
    transform: translateY(50px);
  }
}

@keyframes fl2 {
  0% {
    transform: translateY(300px);
  }

  50% {
    transform: translateY(340px);
  }

  0% {
    transform: translateY(300px);
  }
}
