.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
}

//text

.maj {
  text-transform: capitalize;
}

.bld {
  font-weight: bold;
}

.sm-fs {
  font-size: 0.9rem;
}

.lead {
  font-size: 1.2rem;
  font-weight: 400;
  color: $light-dark;
}

.f-lead {
  margin-bottom: 20px;
  color: $main-color;
  font-size: 1.3rem;
}

.h-lead {
  color: $secondary-color;
  font-size: 1.7rem;
}

// Bouton

%btn-shared {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.btn {
  &-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $secondary-color;
    border-radius: 15px;
    left: 0;
    bottom: 0;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.25s ease-in;
  }

  &-line:hover::before {
    transform-origin: 0 0;
    transform: scale(1);
  }
  &-connect {
    @extend %btn-shared;
    background-color: #045de9;
    background-image: linear-gradient(-315deg, #045de9 0%, #09c6f9 74%);
    background-size: 130%;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;

    &:hover {
      background-position: right;
    }
  }

  &-submit {
    @extend %btn-shared;
    padding: 1.67rem;
    background-color: #0686ef;
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    color: $light-color;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(1px);

    &:hover {
      background-color: rgba(3, 86, 176, 0.1);
      backdrop-filter: blur(2px);
    }
  }
}

//background

.bg-light {
  background-color: $light-color;
  color: #69e2dc;
  margin-top: 15px;
}

// block

%bt {
  margin: 5px auto;
  background-color: #555;
  height: 5px;
  border-radius: 15px;
  opacity: 0.2;
}

.bt-line1 {
  @extend %bt;
  width: 70px;
}
.bt-line2 {
  @extend %bt;
  width: 130px;
}

.bt-line-full {
  width: 100%;
  background: none;
  border-bottom: 2px dashed #ddd;
  margin: 60px 0;
}

.mbt {
  //margin bottom none for bt line full

  margin-bottom: 2px;
}

//flex

.flex-items {
  display: flex;
}

.flex-reverse {
  flex-direction: row-reverse;
}
