//Varibles & functions for layout

$main-color: #008ed9; //#299ff4;
$primary-color: #8080f1;
$secondary-color: #01d7c2;

//Neutral

$light-color: #fff;
$neutral-color: #f4f4f4;
$dark-color: #444;
$light-dark: #555; //#01d7c2;

$color: (
  'color1': #6a6a6a,
  'color2': #2f80ed,
  'color3': #69e2dc,
  'color4': #5a32c6,
  'color5': #6a6a6a,
);
