//Varibles & functions for layout

$main-color: #008ed9; //#299ff4;
$primary-color: #8080f1;
$secondary-color: #01d7c2;

//Neutral

$light-color: #fff;
$neutral-color: #f4f4f4;
$dark-color: #222;
$light-dark: #555; //#01d7c2;
